/*header*/
header {
display: flex;
font-family: Verdana, sans-serif;
position: fixed;
font-size: 14px;
font-weight: bold;
align-items: center;
border-bottom: 1px solid black;
width: auto;
}

#logo {
  color: MediumAquamarine;
  padding-left: 20px;
}


a {
  color: black;
}

nav span{
  display: inline-block;
  padding: 10px 20px;
}
