/*header*/
header {
display: flex;
font-family: Verdana, sans-serif;
position: fixed;
font-size: 14px;
font-weight: bold;
align-items: center;
border-bottom: 1px solid black;
width: 100%;
padding-bottom: 10px;
justify-content: space-between;
}

.logo {
  color: MediumAquamarine;
  padding-left: 15px;
  display: flex;
  align-items: center;
}

.logo span {
  padding-left: 10px;
}

img {
  padding-left: 30px;
}

header nav {
  diplay: inline-block;
  justify-items: center;
  display: flex;
  padding-right: 30px;
}


a {
  color: black;
}

nav span{
  padding: 10px 15px;
}

/*main content*/

.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  padding-top: 116px;
  border: 1px solid black;
}

.large {
  display: flex;
  margin-right: 5px;
  border: 1px solid black;
  flex-direction: column;
  flex-grow: 3;
}

.middle {
  display: flex;
  margin-left: 5px;
  margin-right: 5px;
  border: 1px solid black;
  flex-direction: column;
  flex-grow: 2;
}

.small {
  display: flex;
  margin-left: 5px;
  border: 1px solid black;
  flex-direction: column;
  flex-grow: 1;
}

.image-text-tuna {
  border: 1px solid black;
}

.first-article {
  border: 1px solid black;
}

.orca {
  border: 1px solid black;
}

.image-text-earth {
  border: 1px solid black;
}

.burger {
  border: 1px solid black;
}

.image-text-cameras {
  border: 1px solid black;
}

.advertising {
  border: 1px solid black;
}

.image-text-cat {
  border: 1px solid black;
}

.brooklyn {
  border: 1px solid black;
}

.cookie {
  border: 1px solid black;
}

.bites {
  border: 1px solid black;
}
