/*header*/
header {
display: flex;
font-family: Verdana, sans-serif;
position: fixed;
font-size: 14px;
font-weight: bold;
height: 100px
width: 1000px;
align-items: center;
justify-content: space-around;
}

#logo {
  color: MediumAquamarine;
}

.top-nav {
  display: flex;
  display: inline-block;
  justify-content: flex-end;
}

a {
  color: black;
}
